@import 'colors.css';

.xfce4-panel button:checked {
	color: #ffffff;
	box-shadow: inset 0 0px #3498db;
  }
  
.xfce4-panel button:hover {
	box-shadow: inset 0 0px #3498db;
}

.xfce4-panel  #tasklist-5 .horizontal button:checked {
	box-shadow: inset 0 2px #3498db;
	background-color: #444E61;
}


.xfce4-panel  #tasklist-5 button:checked {
	box-shadow: inset 0 2px #3498db;
}

.xfce4-panel #pulseaudio-button {
	background-color: #5E81AC;
	color: #fff;
}

.xfce4-panel #systray-23 .horizontal {
	background-color: #39546F;
	padding-left: 5px;
	padding-right: 5px;
   }
   
.xfce4-panel #systray-23 .horizontal button {
	margin-left:5px;
}

.xfce4-panel #genmon-1  .genmon_valuebutton {
	background-color: #E06C75;
	color: #fff;
}

.xfce4-panel .genmon_value, .genmon_valuebutton {
	padding: 10px;
	color: #fff;
}

.xfce4-panel #genmon-9 .genmon_value {
	background-color: #5C97A7;
}

.xfce4-panel #genmon-12 .genmon_valuebutton {
	background-color: #cd8560;
}

.xfce4-panel #pager-2 .horizontal #xfce-panel-toggle-button:checked{
	background-color : #AE516C;
	color: #FFF;
}
	
.xfce4-panel #pager-2 .horizontal{
	font-family: 'Space Mono';
	font-weight: Bold;
	background-color : #804053;
	color: #ffffff;
	margin-right:5px;
}
	   

.xfce4-panel #genmon-6 .horizontal {
	background-color: #62568B;
}

.xfce4-panel #genmon-4 .horizontal {
	background-color: #8B5276;
}


#whiskermenu-button label {
    color: #FFF;
    font-weight: bold; 
    font-size: 17px;
    background-color: #455A7F;
    padding: 5px;
}

#whiskermenu-button label:hover {
 color:#fff;
}
	  
   


  
